@import "~bootstrap/scss/bootstrap";
// Variables
$primaryColor : radial-gradient(circle, #414454, #323647, #393D4D);
$secondaryColor : #282B38;
$tersierColor : linear-gradient(180deg, #3e4253, #323647);
$cardColor : #383b4e;
$primaryTextColor : #00CC8F;
$secondaryTextColor : #b5bdd6;
*{
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
header{
    background-image: radial-gradient(circle, #414454, #323647, #393D4D)
}

body {
    position: relative;
    font-family: 'Roboto Mono', monospace;
    font-size: 16px;
}
@media screen and (min-width: 1400px) {
    .container{
        max-width: 1200px !important;
    }
}
hr{
    opacity: 1;
}
#project,
#sertifikat,
#contact {
    padding: 2rem;
}

section {
    overflow: hidden;
}
#skills,
#project,
#contact {
    background-color: $secondaryColor;
}
#sertifikat {
    background-image: $tersierColor;
}
// Navbar //
.topnav {
    a {
        float: left;
        display: block;
        color: #fff !important;
        // padding: 8px 12px;
        text-decoration: none;
        font-size: 1em;
        border-bottom: 3px solid transparent;
        transition: all 0.2s ease-in-out;

        &:hover {
            color: $primaryTextColor !important;
            border-bottom: 2px solid $primaryTextColor;
        }
    }

    .navbar-brand {
        a {
            color: #fff !important;
            font-weight: 600;

            span {
                color: $primaryTextColor;
            }
        }
    }


    .navbar-nav {
        .nav-link.active {
            background-color: $primaryTextColor !important;
            color: #fff !important;
            font-weight: 600;
            border-radius: 5px;
            padding: 6px;
        }

        .nav-item {
            margin: 0.5em 1em;
        }
    }
}
// End of Navbar//

// Hero //
.home {
    overflow-x: hidden;

    .jumbotron {
        padding: 6em 2em;

        .first-name {
            color: #fff;
            font-size: 2.2rem;
        }

        .last-name {
            color: $primaryTextColor;
            display: inline;
            font-size: 2.2rem;
        }

        .title-info {
            color: $secondaryTextColor;
            margin-top: 35px;
        }

        .title-job {
            white-space: nowrap;
        }
    }

    .profile-img {
        width: 450px;
        margin-left: 50px;
    }


    .support {
        margin-bottom: 70px;

        .btn-outline-success {
            color: $primaryTextColor !important;
            border-color: $primaryTextColor !important;

            &:hover {
                background-color: $primaryTextColor !important;
                border-color: $primaryTextColor !important;
                color: #fff !important;
            }
        }

        .btn {
            min-height: 44px;
    min-width: 44px;

        }
    }

    .icon {
        a {
            padding-left: 30px;
            font-size: 30px;
            text-decoration: none;
            color: #fff;
            float: left;
            display: block;
            padding: 8px 12px;
            border-bottom: 3px solid transparent;
            transition: all 0.3s ease-in-out;

            &:hover {
                color: $primaryTextColor;
                border-bottom: 3px solid $primaryTextColor;
            }
        }

        a.active {
            border-bottom: 3px solid $primaryTextColor;
        }
    }
}


// End of Hero //

// Skill Section //
.container-skills {
    .heading-konten {
        hr {
            box-sizing: border-box;
            overflow: visible;
            margin: auto;
            width: 60px;
            height: 3px;
            background-color: $primaryTextColor;
            margin-bottom: 20px;
        }
    }

    .bg-skills {
        background-color: $cardColor;
        border-radius: 10px;
    }

    .img-icons {
        img {
            width: 170px;
            height: auto;
        }

        .img-svg-html {
            filter: invert(47%) sepia(66%) saturate(3311%) hue-rotate(348deg) brightness(103%) contrast(89%);
        }

        .img-svg-css {
            filter: invert(71%) sepia(52%) saturate(4188%) hue-rotate(166deg) brightness(92%) contrast(90%);
        }

        .img-svg-js {
            filter: invert(91%) sepia(53%) saturate(7328%) hue-rotate(324deg) brightness(102%) contrast(102%);
        }

        .img-svg-php {
            filter: invert(78%) sepia(63%) saturate(3480%) hue-rotate(198deg) brightness(75%) contrast(78%);
        }

        .img-svg-bts {
            filter: invert(36%) sepia(68%) saturate(752%) hue-rotate(226deg) brightness(83%) contrast(82%);
        }

        .img-svg-git {
            filter: invert(50%) sepia(89%) saturate(4089%) hue-rotate(343deg) brightness(96%) contrast(95%);
        }

        .img-svg-vscode {
            filter: invert(57%) sepia(62%) saturate(1111%) hue-rotate(176deg) brightness(87%) contrast(90%);
        }
    }
}
// End Of Skills Section //
.btn-primary{
    background-color: $primaryTextColor !important;
    border-color: $primaryTextColor !important;
}
.btn-outline-primary{
    color: $primaryTextColor;
    border-color: $primaryTextColor !important;
    &:hover{
        background-color: $primaryTextColor !important;
    }
}